/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #15385e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #15385e;
}

a {
  color: #6b7988;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #15385e;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
}

/* Form Styles */
form {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* Footer Styles */
footer {
  background-color: #15385e;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

a.panel {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none; /* Ensure no underline on link */
  color: inherit; /* Ensure the text color is inherited */
  display: block; /* Make the link block-level to cover the entire div */
}

a.panel:hover {
  background-color: #f0f0f0; /* Change to desired hover color */
}

div.panel {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none; /* Ensure no underline on link */
  color: inherit; /* Ensure the text color is inherited */
  display: block; /* Make the link block-level to cover the entire div */
}
