{% load static i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} My Site {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/css/style.css' %}"
    />
    {% block extra_head %} {% endblock extra_head %}
  </head>
  <body>
    <header>
      <!-- Site-wide navigation and branding -->
      <nav class="navbar bg-secondary">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_survey' %}"
                >Create Survey</a
              >
            </li>
            {% if user.is_authenticated %} {% comment %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_profile' %}">Profile</a>
            </li>
            {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_surveys_list' %}"
                >My Surveys</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <!-- Site-wide footer -->
    </footer>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      if (typeof jQuery !== "undefined") {
        console.log("jQuery is loaded");
        console.log("jQuery version:", $.fn.jquery);
      } else {
        console.log("jQuery is not loaded");
      }
    </script>
    {% block custom_js %}{% endblock custom_js %}
  </body>
</html>
