{% extends 'base.html' %} {% block content %}
<h1>{{ survey.title }}</h1>
<div class="panel">
  <form method="post">
    {% csrf_token %}
    <table>
      {{ question_form }}
    </table>
    <button type="submit">Create Question</button>
  </form>
</div>
{% for question in survey_questions %}
<div id="question-card">
  <div>
    <h3>{{ question.question_text }}</h3>
    <p>Created: {{ question.question_type }}</p>
    <p>Responses: 124 (still to do)</p>
    <button
      id="btn-del"
      class="btn btn-primary"
      data-questionid="{{ question.id }}"
    >
      Delete
    </button>
  </div>
</div>
<!-- More survey panels... -->
{% endfor %} {% endblock %} {% block custom_js %}

<script>
  $(document).ready(function () {
    $("#btn-del").on("click", function () {
      const button = $(this);
      const question_id = $(this).data("questionid");
      console.log(question_id);
      const url = `{% url 'question_delete' 0 %}`.replace(
        "/0/",
        `/${question_id}/`
      );
      console.log(url);
      $.ajax({
        type: "POST",
        url: url,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}"
        },
        success: function (response) {
          if (response.success) {
            button.closest("#question-card").css("display", "none");
            console.log("you deleted it");
          } else {
            alert("Failed to delete question: " + response.error);
          }
        }
      });
    });
  });
</script>
{% endblock custom_js %}
