{% extends 'base.html' %}
{% block content %}
  <h1>{{ survey.title }}</h1>
  {% for question in survey_questions %}
    <div class="panel" style="color: aqua;">
      <div>
        <h3 style="font-size: 1.25rem; font-weight: bold; color: #333;">{{ question.question_text }}</h3>
        <p style="margin-top: 8px; font-size: 0.875rem; color: #666;">Created: {{ question.question_type }}</p>
        <p style="margin-top: 8px; font-size: 0.875rem; color: #666;">Responses: 124 (still to do)</p>
        {% comment %} <form method="post" action="{% url 'delete_question' question.id %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form> {% endcomment %}
      </div>
    </div>
    <!-- More survey panels... -->
  {% endfor %}
  <div class="panel">
    <form method="post">
      {% csrf_token %}
      <table>{{ question_form }}</table>
      <button type="submit">Create Question</button>
    </form>
  </div>
{% endblock %}
