{% extends 'base.html' %}
{% block content %}
    <div style="background-color: white;">
        <div style="margin: 0 auto; max-width: 20rem; padding: 16px;">
            <h2 style="font-size: 2rem; font-weight: bold; color: #333;">My Surveys</h2>
            <div style="margin-top: 1rem; display: grid; grid-template-columns: 1fr; gap: 10px 6px;">
                {% for survey in user_surveys %}
                <a href="https://www.google.com" class="panel" style="color: aqua;">
                    <div>
                        <h3 style="font-size: 1.25rem; font-weight: bold; color: #333;">
                            {{survey.title}}
                        </h3>
                        <p style="margin-top: 8px; font-size: 0.875rem; color: #666;">
                            Created: {{survey.date_created}}
                        </p>
                        <p style="margin-top: 8px; font-size: 0.875rem; color: #666;">Responses: 124 (still to do)</p>
                    </div>
                </a>
                <!-- More survey panels... -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

